body{
    margin: 0;
    padding: 0;
    background-color: rgb(98, 132, 201);
    color: white;
    min-height: 100vh;
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
    ),
    url("photo/Baground.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

header{
    height: auto;
    padding:0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}



#portfolio{
    font-size: 50px;
    color:white;
}
#portfolio:hover{
    color:  rgb(255, 37, 37);
    font-variant: normal;
}
#header{
    display: flex;
    background-position: relative;
    background-color: #0F172A;
}

#nav{
    width: 100px;
    display: flex;
    list-style-type: none;
    gap: 20px;
}
#nav-point{
    top: 0px;
    font-size: larger;
    display: flex;
    margin-left: 90px;
    width: 150px;
    color: blue;
}

#nav-point :hover{
    color: rgb(255, 37, 37);
    font-variant: normal;
}
.point-nav{
    padding: 10px;
    color:blue;
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 40px;
    margin: 50px;
    width: 100px;
}


main{
    margin-top: 150px;
    padding: 20px;
}

#salutation_acccueil{
    font-size: 40px;
    text-align: center;
}
#salutation_acccueil #titre:hover{
    color: rgb(255, 37, 37);
    text-align: center;
}
#a_propos{
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
}
.contenu{
    display: flex;
    width: auto;
}

#ma_photo{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 10px;
}
#ma_photo:hover{
    transform: scale(1.1);
    transition: 0.75s;
}
.titre-section{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
    
.titre-section span{
    background-color: rgba(55, 150, 55,0.9);
    border-radius: 45%;
    padding: 15px;
}
.titre-section span:hover{
    color: rgb(255, 37, 37);
}
.contenu_section{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    
}
.image_competences{
    background-color: #ddd;
    width: 150px;
    height: 130px;
    border-radius: 20%;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 1px 10px 1px  rgba(55, 150, 55,0.9);
}
.image_competences:hover{
    transform: scale(1.2);
    transition: 0.75s;
}